streamlit
openai==0.28.0
requests
openpyxl
fpdf
PyMuPDF
scholarly
selenium
urllib3
xlsxwriter
pandas
openpyxl
requests
transformers
selenium
webdriver-manager
streamlit
selenium
webdriver-manager
requests
pandas
scholarly
xlsxwriter
feedparser
paperqa2
transformers
torch
openpyxl
beautifulsoup4
python-dotenv
scholarly
