streamlit
openai==0.28.0
requests
openpyxl
fpdf
PyMuPDF
scholarly
selenium
urllib3
xlsxwriter
pandas
transformers
webdriver-manager
feedparser
pdfplumber
faiss-cpu
langchain
pypdf
litellm
paper-qa>=5
habanero
semanticscholar
pydantic
sentence-transformers
haystack
farm-haystack[faiss]>=1.15.0
torch>=1.9.0
pillow
numpy
rank-bm25
