streamlit==1.18.1
openai==0.28.0
requests
openpyxl
fpdf
PyMuPDF
scholarly
selenium
urllib3
xlsxwriter
pandas
transformers
webdriver-manager
pandas
feedparser
pdfplumber
faiss-cpu
pypdf
litellm
paper-qa==5.0.3
habanero
semanticscholar
litellm
pydantic
PyPDF2
chromadb
tiktoken==0.3.3
langchain
